*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.fotos{
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    border: solid 1px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    overflow: scroll;
    gap: 5px;
}
.fotos img{
    height: 80%;
    width: 15%;
}
::-webkit-scrollbar{
    display: none;
}

.contenedor{
    width: 50%;
    height: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(32, 32, 30, 0.952);

    
}
.conten2{
    width: 100%;
    height: 80%;
    display: flex;
}
.opciones{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
label{
    font-size: 25px;
}

input{
    height: 40px;
    width: 90%;
    font-size: 30px;
}
.select1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;

}

select{
    width: 90%;
    height: 40px;
    font-size: 20px;
}
.botones{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10%;
}
.css-button-gradient--8 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #7b4397 0%, #dc2430 75%);
  }
  .css-button-gradient--8:hover {
    background-position: right center;
  }
  .css-button-gradient--8:active {
    top: 2px;
  }
  .conten-foto{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

 }
.foto{
    border: 1px solid;
    height: 80%;
    width: 70%;
    background-color: white;
}
img{
    height: 100%;
    width: 100%;
}
.resultados{
    height: 20%;
    width: 90%;
    border: 1px solid;
    margin-bottom: 10px;
    overflow: scroll;
    background-color: white;
    font-size: 20px;
}
.foto div{
    color: #d90429;
}