*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor{
    height: 50%;
    width: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conten2{

    width: 50%;
    height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-right: 50px;
}
.input1{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
   
  
}
input{
    width: 90%;
    height: 100%;

}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
button{
    width: 105px;
    height: 50px;
    font-size: 25px;
}
.fotos{
    width: 30%;
    height: 50%;
    border: 1px solid;
    

}
img{
    width: 100%;
    height: 100%;
}